/*
 * Styling for the About section. All styles must either be prefixed with
 * '#about-section' or be an id or class that's only used in the About
 * section.
 */

#about .about-pic {
	height: 25%;
	width: 25%;
	display: inline-block;
	padding: 0px 10px 0px 0px;
}

#about .about-container {
	margin: auto;
	width: 100%;
	padding: 10px;
	display: inline-block;
	text-align: center;
	vertical-align: top;
}

.about-content {
	text-align: left;
	display: inline-block;	
	width: 50%;
	vertical-align: top;
	margin: 0;
}

.paragraph-anchor:link {
	text-decoration: underline;
}

.paragraph-anchor:visited {
	text-decoration: none;
	color:black;
}

.paragraph-anchor:hover {
	text-decoration: bold;
	color: crimson;
}