/*
 * Styling for the About section. All styles must either be prefixed with
 * '#about-section' or be an id or class that's only used in the About
 * section.
 */

#about .section-content {
	height: 100%;
}

#about .about-pic {
	height: 100%;
	width: 100%;
}