/*
 * Base styles for the entire site.
 */

html, body {
	background-color: #3ddeca;
	border: 0;
 	font-family: Geneva, "Trebuchet MS", sans-serif;
 	font-size: large;
 	margin: 0;
 	overflow-x: hidden;
    padding: 0;
 }

ul.sections {
	text-align: left;
}