/*
 * Styling for all cards.
 */

.card-container { 
	display: inline-block;
	height: 260px;
	position: relative;
	perspective: 800px;
	width: 200px;
}

.card {

	width: 100%;
	height: 100%;
	position: absolute;
	transform-style: preserve-3d;
	transition: transform 1s;
}

.card-container:hover .card{
	transform: rotateY( 180deg );
}

.card .front,
.card .back {
	margin: 0;
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
}

.card .front {
	background: red;
}
.card .back {
	background: blue;
	transform: rotateY( 180deg );
}