/*
 * Styling for the Contact section. All styles must either be prefixed with
 * '#contact-section' or be an id or class that's only used in the Contact
 * section.
 */

#contact .section-subtitle {
 	padding-bottom: 35px;
 	text-align: center;
 	width: 100%;
}

#contact form {
	text-align: center;
}

#contact .firstname-container,
#contact .lastname-container {
	display: inline-block;
	width: 49%; /* 50% causes it to move to the next line. */
}

#contact .input-container input,
#contact .textarea-container textarea {
	border: 1px solid #ccc;
	border-radius: 2px;
	width: 97%;
}

#contact .input-container input {
	height: 32px;
}

#contact .textarea-container textarea {
	height: 180px;
}

#contact .label-container {
	text-align: left;
	padding-bottom: 5px;
}

#contact .name-field .label-container {
	padding-left: 7px;
	padding-top: 5px;
}

#contact .email-field .label-container,
#contact .message-field .label-container {
	padding-left: 15px;
	padding-top: 25px;
}

#contact .submit-button-container {
	padding-top: 5px;
}

#contact .submit-button {
	border-style: solid;
	font-size: medium;
    height: 45px;
    width: 90px;
    background-color: crimson;
    border-color: crimson;
    color: cornsilk;
    cursor: pointer;
    border-radius: 4px;
}
