/*
 * Styling for the Contact section. All styles must either be prefixed with
 * '#contact-section' or be an id or class that's only used in the Contact
 * section.
 */

#contact {
 	background-color: grey;
}

#contact .section-content {
	height: calc(100% - 20px);
	margin: 0;
	padding: 10px;
	width: calc(100% - 20px);
}

@media screen and (min-width: 1024px) {
    #contact .section-content {
        padding-left: 20vw;
        padding-right: 20vw;
        width: calc(100% - 40vw);
    }
}

@media screen and (min-width: 800px) and (max-width: 1024px) {
    #contact .section-content {
        padding-left: 13vw;
        padding-right: 13vw;
        width: calc(100% - 26vw);
    }
}

@media screen and (min-width: 500px) and (max-width: 800px) {
    #contact .section-content {
        padding-left: 10vw;
        padding-right: 10vw;
        width: calc(100% - 20vw);
    }
}
 
#contact .section-title {
	text-align: center;
 	width: 100%;
}

#contact .section-subtitle {
 	padding-bottom: 45px;
 	text-align: center;
 	width: 100%;
}

#contact form {
	text-align: center;
}

#contact .firstname-container,
#contact .lastname-container {
	display: inline-block;
	width: 49%; /* 50% causes it to move to the next line. */
}

#contact .input-container input,
#contact .textarea-container textarea {
	border: 1px solid #ccc;
	border-radius: 2px;
	width: 97%;
}

#contact .input-container input {
	height: 32px;
}

#contact .textarea-container textarea {
	height: 180px;
}

#contact .label-container {
	text-align: left;
	padding-bottom: 5px;
}

#contact .name-field .label-container {
	padding-left: 7px;
	padding-top: 5px;
}

#contact .email-field .label-container,
#contact .message-field .label-container {
	padding-left: 15px;
	padding-top: 25px;
}

#contact .submit-button-container {
	padding-top: 2.5vh;
}

#contact .submit-button {
	border-style: solid;
	font-size: medium;
    height: 45px;
    width: 90px;
}
