/*
 * Styling for the Hobbies section. All styles must either be prefixed with
 * '#hobbies-section' or be an id or class that's only used in the Hobbies
 * section.
 */

 #hobbies {
 	left: 600vw;
    position: absolute;
    top: 85px;
 }