/*
 * Styling for the Honors section. All styles must either be prefixed with
 * '#honors-section' or be an id or class that's only used in the Honors
 * section.
 */

#honors {
    left: 100vw;
    position: absolute;
    top: 85px;
}

#honors .section-content {
	margin: 0;
	padding: 10px;
	width: calc(100% - 20px);
}

#honors .section-title {
	text-align: center;
 	width: 100%;
}

#honors .honors-table {
	display: table;
	table-layout: fixed;
	width: 100%;
}

#honors .honors-row {
	display: table-row;
}

#honors .honors-trophy,
#honors .award-name,
#honors .sponsor {
	display: table-cell;
	padding-bottom: 15px; /* Hack to make the rows spread out some. */
	vertical-align: top;
}

#honors .honors-trophy {
	height: 20px;
	padding-left: 10px;
	padding-right: 15px;
	padding-top: 5px;
	width: 20px;
}

#honors .honors-trophy img {
	height: 20px;
	width: 20px;
}

#honors .award-name {
	font-weight: bolder;
	padding-right: 40px;
	width: 50%;
}

#honors .sponsor {
	font-style: italic;
	width: 50%;
}

@media screen and (min-width: 1024px) {
    #honors .section-content {
        padding-left: 20vw;
        padding-right: 20vw;
        width: calc(100% - 40vw);
    }

    #honors .award-name {
    	width: 66%;
    }

    #honors .sponsor {
    	width: 34%;
    }
}

@media screen and (min-width: 726px) and (max-width: 1024px) {
    #honors .section-content {
        padding-left: 13vw;
        padding-right: 13vw;
        width: calc(100% - 26vw);
    }

    #honors .award-name {
    	width: 55%;
    }

    #honors .sponsor {
    	width: 45%;
    }
}

@media screen and (min-width: 500px) and (max-width: 726px) {
    #honors .section-content {
        padding-left: 10vw;
        padding-right: 10vw;
        width: calc(100% - 20vw);
    }
}