/*
 * Styling for the Leadership section. All styles must either be prefixed with
 * '#leadership-section' or be an id or class that's only used in the
 * Leadership section.
 */

#leadership .back-content-container {
	padding: 25px;
}

#leadership .single-leadership-container {
	margin-bottom: 25px;
}

#leadership .organization-img-container,
#leadership .experience-info {
	display: inline-block;
}

#leadership .organization-img-container {
	height: 95px;
	padding-right: 2%;
	width: 94px;
	vertical-align: top;
}

#leadership .organization-img {
	height: 100%;
	padding-top: 5%;
	width: 100%;
}

#leadership .experience-info {
	width: 85%;
	text-align: center;
}


#leadership .organization-name {
	font-weight: bold;
}

#leadership .dates,
#leadership .location {
	display: inline-block;
	font-style: italic;
}

#leadership .leadership-details {
	cursor: pointer;
}

#leadership .achievements-container {
	margin-top: 15px;
	text-align: left;
}

#leadership .achievements {
	margin: 0px 0px 0px 20px;
	padding: 0;
}