/*
 * Styling for the Leadership section. All styles must either be prefixed with
 * '#leadership-section' or be an id or class that's only used in the
 * Leadership section.
 */

 #leadership {
 	left: 400vw;
    position: absolute;
    top: 85px;
 }