/*
 * Styling for the Research section. All styles must either be prefixed with
 * '#research-section' or be an id or class that's only used in the Research
 * section.
 */

 #research .section-content {
	padding-left: 15%;
	padding-right: 15%;
	text-align: justify;
}

#research .back-content-container {
	padding: 25px;
}

#research .institution-name {
	font-weight: bold;
}

#research .dates,
#research .location {
	display: inline-block;
	font-style: italic;
}

#research .achievements-container {
	margin-top: 15px;
	text-align: left;
}

#research .achievements {
	margin: 0px 0px 0px 20px;
	padding: 0;
}

.paragraph-anchor:link {
	text-decoration: underline;
}

.paragraph-anchor:visited {
	text-decoration: none;
	color:black;
}

.paragraph-anchor:hover {
	text-decoration: bold;
	color: crimson;
}