/*
 * Styling for the Research section. All styles must either be prefixed with
 * '#research-section' or be an id or class that's only used in the Research
 * section.
 */

 #research {
 	left: 300vw;
    position: absolute;
    top: 85px;
 }