/*
 * Styling for the Service section. All styles must either be prefixed with
 * '#service-section' or be an id or class that's only used in the Service
 * section.
 */

 #service {
 	left: 500vw;
    position: absolute;
    top: 85px;
 }